.floor {
  background-color: lightgrey;
  border-radius: 5px;
  width: 90%;
  height: 120px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.floorsContainer {
  display: flex;
  padding: 5%;
  margin: 50px auto;
  flex-wrap: wrap;
  align-content: center;
}

h3 {
  padding: 1%;
}

.lift {
  position: absolute;
  height: 15%;
  width: 10%;
  left: 50%;
  border: 1px solid green;
  background-color: yellowgreen;
  transition-duration: 1s;
}

.button {
  padding: 2px 10px 2px 10px;
  margin-left: 20px;
  color: white;
  text-align: center;
  cursor: pointer;
}

.b1 {
  background-color: darkslateblue;
}

.b2 {
  background-color: darkorange;
}

