.user-info {
    display: grid;
    width:max-content;
    margin: 60px auto 60px;
    padding: 10px;
    background-color: lightgray;
    border-radius: 5px;
    width: 90%;  
    align-items: center;
    justify-content: center;
}

.user-info h3 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.user-info input[type=number] {
    /* Size and position */
    width: 100%;
    padding: 8px 8px 8px 8px;
    margin-bottom: 15px;

    /* Styles */
    border: 1px solid #4e3043; /* Fallback */
    border: 1px solid rgba(78,48,67, 0.8);
    /* background: rgba(0,0,0,0.15); */
    border-radius: 2px;
    box-shadow: 
        0 1px 0 rgba(255,255,255,0.2), 
        inset 0 1px 1px rgba(0,0,0,0.1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Font styles */
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    font-size: 13px;
}

.user-info button {
    margin: 30px 30px;
    justify-self: center !important;
}